global
    log stdout format raw daemon
    maxconn 4096
    tune.maxaccept 4096
    tune.bufsize 65536
    daemon

defaults
    mode http
    timeout connect 1h
    timeout client  24h
    timeout server  24s
    option dontlognull
    option dontlog-normal

frontend vllm_front
    bind *:{{ proxy_port }}
    default_backend vllm_back

backend vllm_back
    balance roundrobin
    {%- for ip in vllm_servers %}
    server vllm{{ loop.index }} {{ ip }}:{{ vllm_port }} check
    {%- endfor %}

